/* formatação de todo o corpo da página */
body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

/* formatação em dois tags */
header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* configurando 3 tags (header, nav, a) */
header nav a{
    color: #fff;
    margin: 10px;
   text-decoration: none;
}

header nav a:hover{
    text-decoration: underline;
}

.galeria img {
    margin:10px;
    border: 2px solid #a7a7ac;
    width: 200px;
    height: 150px;
    /* Sombra suave */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);  
}

.galeria img:hover {
    /* Aumenta a imagem em 10% */
    transform: scale(1.1);  
}


#mapa{
    margin: 10px; 
    margin-top: 20px;
    text-align: center;
}

.tabela_preco{
    width: 100%;
    border-collapse: collapse;
}
.tabela_preco th, .tabela_preco td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}