 <footer class="text-white py-1" style="background-color: purple; font-size: 0.9rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-unstyled" style="line-height: 1.4;">
                                <li><a href="#" class="text-white">Sobre Nós</a></li>
                                <li><a href="#" class="text-white">Localização</a></li>
                                <li><a href="#" class="text-white">Regras de Envio</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-unstyled" style="line-height: 1.4;">
                                <li><a href="#" class="text-white">Regras de Troca</a></li>
                                <li><a href="#" class="text-white">Guia de Tamanhos</a></li>
                                <li><a href="#" class="text-white">Projeto Social</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <p class="mb-0">&copy; 2025 DK Clothing. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>