<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Início</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="catalogoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Catálogo
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="catalogoDropdown">
                            <li><a class="dropdown-item" href="catalogo.html#bones">Boné</a></li>
                            <li><a class="dropdown-item" href="catalogo.html#tenis">Tênis</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'outlet' %}">Outlet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="quem-somos.html">A Marca</a>
                    </li>
                </ul>

            </div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" title="Carrinho de Compras">
                        <i class="fas fa-shopping-cart"></i> Carrinho (0)
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Conta
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="login.html">Login</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>