<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Sobre nós</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                A DK Shoes é uma empresa dedicada em trazer o mais excelente do streetwear e levar exclusivade ao nossos clientes. Fundada em 2025, por Kassiano Alves & Amigos, está presente em todo território Brasileiro com mais de 28 lojas prontas para atender ao seu melhor desejo. Nossos clientes são nossa joia, por isso temos sempre o prazer em compartilhar cada pedacinho das nossas conquistas com vocês e queremos dizer que a partir de 2026 estaremos com 2 lojas novas no Chile. AGUARDEM...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>