{% extends 'global/base.html' %}
{% block formulario %}
<div class="container">
    <table class="table table-bordered table-striped">
       <tr>
        <th>id</th>
        <th>nome</th>
        <th>idade</th>
        <th>email</th>
       </tr>
       {% for pessoa in pessoas %}
       <tr>
        <td>{{pessoa.id_pessoa}}</td>
        <td>{{pessoa.nome}}</td>
        <td>{{pessoa.nome}}</td>
        <td>{{pessoa.email}}</td>
        <td>
            <a href={% url 'editor' pessoa.id_pessoa %}>Editor</a>
            <a href={% url 'editor' pessoa.id_pessoa %}>Editor</a>
        </td>
       </tr>
       {% endfor %}
    </table>
</div>
{% endblock formulario %}