.icon-personagem {
  width: 70px;
  height: 70px;
  object-fit: cover; /* recorta proporcionalmente */
  border: 2px solid #ff0040;
  cursor: pointer;
  transition: transform 0.2s;
}

.icon-personagem:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px #ff0040;
}


.personagem-display img {
  max-width: 300px;
  border: 4px solid #0ff;
  border-radius: 10px;
  box-shadow: 0 0 20px #0ff;
  animation: aparecer 0.8s ease-in-out;
}

@keyframes aparecer {
  from { opacity: 0; transform: scale(0.8) translateX(50px); }
  to { opacity: 1; transform: scale(1) translateX(0); }
}
.menu-link {
  font-family: 'Press Start 2P', cursive;
  color: #fff !important;
  margin: 0 20px;
  position: relative;
  transition: color 0.3s ease;
}

/* Efeito hover neon */
.menu-link:hover {
  color: #ff0040 !important;
  text-shadow: 0 0 5px #ff0040, 0 0 10px #ff0040;
}

/* Animação ao clicar */
.menu-link:active {
  animation: clickPulse 0.4s ease;
}

@keyframes clickPulse {
  0% { transform: scale(1); color: #fff; }
  50% { transform: scale(1.2); color: #0ff; text-shadow: 0 0 15px #0ff; }
  100% { transform: scale(1); color: #ff0040; }
}

/* Linha neon abaixo do item ativo */
.menu-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ff0040;
  transition: width 0.3s ease;
}

.menu-link:hover::after {
  width: 100%;
}
