*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../image/background.png');
    display: flex;
    align-items:normal;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
    
}
.menu {
         position:relative;
         left: -250px;
         width: 450px;
         height: 50px;
         font-size: 40px;
           
}
a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(241, 137, 0);
}
a:hover{
    text-decoration: underline;
    color: aqua;
}

.video1{
    width: 652px;
   back
}